* {
    margin: 0;
    padding: 0;
    font-family: "glory";
}

@font-face {
    font-family: "glory";
    src: url(../fonts/Glory-Bold.ttf);
    font-weight: 700;
}

.add_to_cart_button {
    border-bottom-left-radius: 5px;
}
.remove_from_cart_button {
    border-bottom-left-radius: 5px;
}
img{
    aspect-ratio: 1/1;
    object-fit: cover;
}
.product_card{
    min-height: 100%;
}
/* .product_card .iphone h3{
    min-height: 67px;
} */
.filter.container
{
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    gap:10px
}
.fav_button-add 
{
     border-bottom-right-radius: 5px;
}
.fav_button-delete 
{
     border-bottom-right-radius: 5px;
}


/* }
.products
{display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap:20px;}

@media screen  and (max-width:1024px) {
.products
{display: grid;
grid-template-columns: 1fr 1fr ;
gap:20px;}
}
@media screen  and (max-width:768px) {
.products
{display: grid;
grid-template-columns: 1fr ;
gap:20px;}
} */